.header-detail {
    margin-top: 40px;
    background-color: #E6E6E6;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1-header {
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 10px;
    font: 600 30px "Abel";
    color: #116193;
}

.item2-header {
    margin-right: 12px;
    margin-top: 10px;
    padding: 0 10px;
    font-family: "Abel";
    font-size: 15px;
    color: #959595;
}

.body-detail {
    display: flex;
    justify-content: space-between;
}

.sinopse-info {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    color: #4885AA;
    font: 500 20px "Abel";
    border-bottom: 1px solid #79EDEB;
    border-bottom-width: 2px;
}

.item1-body {
    background-color: #F2F2F2;
}

.item1-body .overview {
    margin: 20px;
    padding: 10px;
    color: #5F5F5F;
    font-family: "Lato";
}

.item2-body {
    display: flex;
    justify-content: flex-end;
}
.item2-body .imagem-filme{
    width: 350px;
    height: 500px;
}

.information {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.item {
    font: 500 20px "Abel";
    color: #4885AA;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.item2 {
    color: #555555;
    font-size: 15px;
    font-family: "Abel";
    display: flex;
    justify-content: center;
}


.genres {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 50px;
    align-items: center;
}

.generos {
    border: 1px solid #116193;
    padding: 6px;
    border-radius: 20px;
    margin-right: 8px;
    background-color: #FFFFFF;
    color: #4885AA;
    font-family: "Abel";
    font-size: 15px;
}

.vote {
    border: 3px solid #00E8E4;
    font-size: 40px;
    color: #00E8E4;
    background-color: #116193;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .item2-body img {
        width: 150px;
        height: 300px;
    }

    .genres {
        padding-right: 20px;
        padding-left: 20px;
    }
}